{{- if .Params.cover.image }}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ .Params.cover.image | relURL }}">
{{- else }}
  <meta name="twitter:card" content="summary">
  {{- with site.Params.images }}
    {{- range . | first 1 }}
      <meta name="twitter:image" content="{{ . | relURL }}">
    {{- end }}
  {{- end }}
{{- end }}

<meta name="twitter:title" content="{{ with or .Title site.Title }}{{ . }}{{ end }}">
<meta name="twitter:description" content="{{ with or .Description .Summary site.Params.description | plainify | htmlUnescape }}{{ trim . "\n\r\t " }}{{ end }}">
